<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui = "http://java.sun.com/jsf/facelets">
<head>
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="/js/admin.js"></script>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>

	<div class="topo">
		<div class="logo">
			Wild<span style="color: white;"> Build</span>
		</div>
		<div id="menu">
		 	<a href="/connectAdmin"> Champions </a> | 
		 	<a href="/itens"> Itens </a> | 
		 	<a href="/speels"> Speels </a> | 
		</div>

	</div>

	<div class="nomeIcone">
		<div id="icone">
			<img th:src="${champ.iconChampHREF}">
		</div>
		
		<div id="nome">
			<label th:text="${champ.nome}" ></label>
		</div>
	</div>
	
	<div class="habilities">
		<img height="80" width="80" th:src="${passive.iconHabilityHREF}" onclick="showPassive()">
		<img height="80" width="80" th:src="${q.iconHabilityHREF}" onclick="showQ()" >
		<img height="80" width="80" th:src="${w.iconHabilityHREF}" onclick="showW()">
		<img height="80" width="80" th:src="${e.iconHabilityHREF}" onclick="showE()">
		<img height="80" width="80" th:src="${r.iconHabilityHREF}" onclick="showR()">
	</div>
	
	<div id="passiva" class="skillBox" style="display: none;">
		<form th:action="@{salvarPassiva/{idchamp}(idchamp=${champ.id})}" method="post" th:object="${passive}">
		
			<div id="skillImage">
				<img height="80" id="iconDisplay" width="80" th:src="${passive.iconHabilityHREF}">
			</div><br/>
			<label> Passive </label>
			
			<div>
				<label for="iconHabilityHRE">icon Link:</label>
				<label for="descHability" >Description Hability</label>
			</div>

			<div>
				<textarea id="iconHabilityHREF" name="iconHabilityHREF" th:field="*{iconHabilityHREF}" ></textarea>
				<textarea name="descHability" th:field="*{descHability}" ></textarea>
			</div>

			<input type="submit" value="Salvar Passiva"/>
			<input hidden="true" readonly="readonly" name="id" th:field="*{id}">
			
		</form>
	</div>	
	
	<div id="q" class="skillBox" style="display: none;">
		<form th:action="@{salvarQ/{idchamp}(idchamp=${champ.id})}" th:object="${q}" method="post">

			<div id="skillImage">
				<img height="80" id="iconDisplay" width="80" th:src="${q.iconHabilityHREF}">
			</div>

			<label>1° Hability</label>
			<div>
				<label for="iconHabilityHREF" >Icon Link</label>
				<label for="descHability" >Description Hability</label>
			</div>

			<div>
				<textarea name="iconHabilityHREF" th:field="*{iconHabilityHREF}"></textarea>
				<textarea name="descHability" th:field="*{descHability}" ></textarea>
			</div>
			
			<input type="submit" value="Salvar 1° Habilidade"/>
			<input hidden="true" readonly="readonly" name="id" th:field="*{id}">
					
		</form>
	</div>
	
	<div id="w" class="skillBox" style="display: none;">
		<form th:action="@{salvarW/{idchamp}(idchamp=${champ.id})}" th:object="${w}" method="post">

			<div id="skillImage">
				<img height="80" id="iconDisplay" width="80" th:src="${w.iconHabilityHREF}">
			</div>

			<label>2° Hability</label>
			
			<div>
				<label for="iconHabilityHREF" >Icon Link</label>
				<label for="descHability" >Description Hability</label>
			</div>
			
			<div>
				<textarea id="iconHabilityHREF" name="iconHabilityHREF" th:field="*{iconHabilityHREF}"></textarea>
				<textarea name="descHability" th:field="*{descHability}" ></textarea>
			</div>
			
			<input type="submit" value="Salvar 2° Habilidade"/>
			<input hidden="true" readonly="readonly" name="id" th:field="*{id}">
					
		</form>
	</div>
	
	<div id="e" class="skillBox" style="display: none;">
		<form th:action="@{salvarE/{idchamp}(idchamp=${champ.id})}" th:object="${e}" method="post">

			<div id="skillImage">
				<img height="80" id="iconDisplay" width="80" th:src="${e.iconHabilityHREF}">
			</div>

			<label>3° Hability</label>
			
			<div>
				<label for="iconHabilityHREF" >Icon Link</label>
				<label for="descHability" >Description Hability</label>
			</div>

			<div>
				<textarea id="iconHabilityHREF" name="iconHabilityHREF" th:field="*{iconHabilityHREF}"></textarea>
				<textarea name="descHability" th:field="*{descHability}" ></textarea>
			</div>
						
			<input type="submit" value="Salvar 3° Habilidade"/>
			<input hidden="true" readonly="readonly" name="id" th:field="*{id}">
					
		</form>		
	</div>
	
	<div id="r" class="skillBox" style="display: none;">
		<form th:action="@{salvarR/{idchamp}(idchamp=${champ.id})}" th:object="${r}" method="post">

			<div id="skillImage">
				<img height="80" id="iconDisplay" width="80" th:src="${r.iconHabilityHREF}">
			</div>
			<label>4° Hability</label>
			
			<div>
				<label for="iconHabilityHREF" >Icon Link</label>
				<label for="descHability" >Description Hability</label>
			</div>

			<div>
				<textarea id="iconHabilityHREF" name="iconHabilityHREF" th:field="*{iconHabilityHREF}"></textarea>
				<textarea name="descHability" th:field="*{descHability}" ></textarea>
			</div>

			<input type="submit" value="Salvar 4° Habilidade"/>
			<input hidden="true" readonly="readonly" name="id" th:field="*{id}">
					
		</form>		
	</div>

	<div class="skillBox" >
		<form th:action="@{salvarBuild/{idchamp}(idchamp=${champ.id})}" method="post" th:object="${build}">
			<select th:field="*{itens}" name="itens">
				<option th:each = " item : ${itens}" th:value="${item.id}" th:text="${item.nome}"  ></option>
			</select>

			<select th:field="*{itens}" name="itens">
				<option th:each = " item : ${itens}" th:value="${item.id}" th:text="${item.nome}"  ></option>
			</select>

			<select th:field="*{itens}" name="itens">
				<option th:each = " item : ${itens}" th:value="${item.id}" th:text="${item.nome}"  ></option>
			</select>

			<select th:field="*{itens}" name="itens">
				<option th:each = " item : ${itens}" th:value="${item.id}" th:text="${item.nome}"  ></option>
			</select>

			<select th:field="*{itens}" name="itens">
				<option th:each = " item : ${itens}" th:value="${item.id}" th:text="${item.nome}"  ></option>
			</select>

			<select th:field="*{itens}" name="itens">
				<option th:each = " encantamento : ${encantamentos}" th:value="${encantamento.id}" th:text="${encantamento.nome}" ></option>
			</select>
			<select name="role" >
				<option value="MID" th:text="Mid-Lane"></option>
				<option value="BARON" th:text="Baron-Lane" ></option>
				<option value="DRAGON" th:text="Dragon-Lane" ></option>
				<option value="SUPORTE" th:text="Suporte" ></option>
				<option value="JUNGLE" th:text="Jungle" ></option>
			</select>

			<select th:field="*{speels}" name="speels">
				<option th:each ="speel : ${speels}" th:value="${speel.id}" th:text="${speel.nome}"></option>
			</select>

			<select th:field="*{speels}" name="speels">
				<option th:each ="speel : ${speels}" th:value="${speel.id}" th:text="${speel.nome}"></option>
			</select>

			<input type="submit" value="Salvar">
		</form>
	</div>
	<div class="habilities">
		<div th:each="b : ${builds}" style="text-align: center; border: 10px solid red;">
	
			<label th:text="${b.role}"></label>
			<br>
			<div th:each="dado : ${b.itens}" style="display: inline-block;">
				<img th:src="${dado.iconHREF}">
			</div>
			<div th:each="dado2 : ${b.speels}" style="display: inline-block;">
				<img th:src="${dado2.iconHREF}">
			</div>
		</div>
	</div>
</body>
</html>