<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui = "http://java.sun.com/jsf/facelets">

<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta charset="UTF-8">
	<title>Wild Build</title>
</head>

<h:body>
	
	<div class="topo">
		<div class="logo">
			<a href="/">
				<span style="color: black;">Wild</span>
				<span style="color: white;"> Build</span>
			</a>
		</div>
		<div id="menu">
		 	<a href="/loadMidChamp"> Mid </a> | 
		 	<a href="/loadBaronChamp"> Baron Lane </a> |
			<a href="/loadDragonChamp"> Dragon Lane </a> | 
		 	<a href="/loadSuporteChamp"> Suporte </a> |
			<a href="/loadJungleChamp"> Jungle </a> |
		</div>

	</div>

	<div class="champions">
		<h:panelGrid th:each="champ : ${champs}" id="panel" columns="2">
			<div class="box-champ">
			
				<div class="img-champ">
					<a th:href="@{loadChamp/{idchamp}(idchamp=${champ.id})}"><img height="80" width="80" th:src="${champ.iconChampHREF}"></a>
				</div>
					
				<div class="nome-champ"> 
					<label th:text="${champ.nome}"></label>
				</div>
				
			</div>
		</h:panelGrid>

	</div>
</h:body>

</html>