<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui = "http://java.sun.com/jsf/facelets">

<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta charset="UTF-8">
	<title>title</title>
</head>

<body>
	<div class="topo">
		<div class="logo">
			Wild<span style="color: white;"> Build</span>
		</div>
		<div id="menu">
		 	<a href=""> Mid </a> | 
		 	<a href=""> Baron Lane </a> |
			<a href=""> Dragon Lane </a> | 
		 	<a href=""> Suporte </a> |
			<a href=""> Jungle </a> |
		</div>

	</div>
</body>

</html>